name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  cli-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build CLI
        run: cargo build -p milieu
